body {
    background-color: rgb(93,64,42);

}
#mainboard {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(218,240,246);
    border-radius: 50px;
}

#cardset {
    text-align: center;
}

.penguinbox {
    display: inline;
    margin: 5px 15px 0px 0px;
}

.penguinbox:hover {
    color: rgb(80,118,66);
}

.restart {
    border: 2px;
    border-radius: 25px;
    font-family: 'Homemade Apple', cursive;
    font-size: 12pt;
    color: rgb(243,244,236);
    background-color: rgba(80,118,66,0.6);
    margin: 5px;
    float: right;
}

.restart:hover {
    color: black;
}

#paper {
    border: 1px;
    font-family: 'Homemade Apple', cursive; 
    font-size: 14pt;
    background-color: rgb(255,245,228);
    background: repeating-linear-gradient(to bottom, rgb(255,245,228) 1px, rgba(0,51,102,0.2) 4px);
    margin: 0 auto;
    width: 90%;
    padding: 3px 3px 3px 15px;
}

.segment {
    display: inline;
}

img {
    width: 145;
    height: 204;
    margin: 15px;
    border-radius:8px;
}

.indv_penguin {
    box-shadow: 2px 2px 5px rgb(49,61,65);
}
